<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>To Do List in Angular</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>


  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


  <!--TODO LIST-->
  <div class="col-md-12" ng-controller="TodoCtrl" class="container">
          <h1>What do I need to do today?</h1>
          {{message}}<p></p>
          <div ng-repeat="item in todolist">
              <div class="row">
                  <div class="col-sm-6">
                      <span ng-click="edit=!edit" ng-hide="edit">
                          {{item}}
                      </span>
                      <input type="text" ng-model="item" ng-show="edit" size="60">
                  </div>
                  <div class="col-sm-6">
                      <button ng-show="edit" ng-click="edit=false" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-remove"></span>Done with my edits</button>
                      <button class="btn btn-sm btn-warning" ng-click="edit=true" ng-hide="edit"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                      <button class="btn btn-sm btn-danger" ng-click="deleteTodo(item)"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                  </div>
                  <br>
             </div>


          </div>
          <br><br>
      <div class="row">
          <div class="col-sm-6">
              <input type="text" size="60" ng-model="listItem" placeholder="what i need to do">
          </div>
          <div class="col-sm-6">
              <button type="submit" value="submit" class="btn btn-success" ng-click="addTodo()"><span class="glyphicon glyphicon-plus"></span> Add</button>
          </div>
      </div>

  </div>
<!--END TO DO LIST-->


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
